<h1>read</h1>
<% @bookings.each do |booking| %>
<%= booking.book.title %>
<% end %>

<div class="container">
  <div class="d-flex flex-wrap center-margin mb-3">
    <% @bookings.each do |booking| %>
      <div class="card-book mx-2 my-3">
        <%= link_to book_booking_path(booking.book_id, booking.id), class: "h-100 w-100" do %>
        <%# Needs to be updated with cl_image_tag (cloudinary) %>
          <div class="card-containerr">
            <div class="cover"></div>
            <p class="card-title fw-bold mt-2"><%= booking.book.title.truncate(23) %></p>
            <p class="card-text m-0">Borrow:<br><%= booking.borrow_from %></p>
            <p class="card-text m-0">Return:<br><%= booking.return_on %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
