<h1>Lending</h1>

<div class="container">
  <div class="d-flex flex-wrap center-margin mb-3">
    <% @books.each do |book| %>
      <div class="card-book mx-2 my-3">
        <%= link_to book_path(book), class: "h-100 w-100" do %>
        <%# Needs to be updated with cl_image_tag (cloudinary) %>
          <div class="card-containerr">
            <div class="cover"></div>
            <p class="card-title fw-bold mt-2"><%= book.title.truncate(23) %></p>

            <p class="card-text m-0">🖋 <%= book.author.truncate(13) %></p>
        <td><%= link_to 'Delete book', book_path(book), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>

          </div>
        <% end %>
        <%= link_to "Edit book", edit_book_path(book) %>
      </div>
    <% end %>
  </div>
</div>

