<div class="form_container">
  <h1>share book</h1>

  <div class ="share_form">
    <%= simple_form_for [@book] do |f| %>
      <h6><%= f.input :title %></h6>
      <h6><%= f.input :author %></h6>
      <h6><%= f.input :genre %></h6>
      <h6><%= f.input :cover, as: :file %></h6>
      <div class="share-submit">
        <%= f.submit "share", class: "share-button", html: { color: "white" } %>
      </div>
    <% end %>
    <div id="cancel-button">
      <h6><%= link_to "cancel", books_path %></h6>
    </div>
  </div>

</div>
