<h1>New Book</h1>
<%= simple_form_for [@book] do |f| %>
  <%= f.input :name %>
  <%= f.input :author %>
  <%= f.submit "Add Book :)))))", class: "btn btn-primary" %>
<% end %>
<%= link_to "Cancel", books_path %>
