<h1><%= @book.title %></h1>

<div class="details-container">
  <div class="book-cover">

  </div>
  <div class="m-4">
    <h5><%= @book.author %></h5>
    <h5><em><%= @book.genre %></em></h5>
  </div>
  <div class="details-descrip">

  </div>
</div>
<%= render "shared/booking", booking: @booking %>
<div class="book-see mt-5 mb-5"><%= link_to "Book this Book" %></div>

<div class="book-see mb-5">
  <i class="fa-solid fa-backward"></i>
  <%= link_to "Bookshelf", root_path %>
</div>
