<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/navbar" %>
    <title>BookaBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/flashes" %>

    <div id="footer" class="text-center">
      <ul>
        <li><button class ="btn"><a href="#"><i class="fa-solid fa-house"></i></a></button></li>
        <li><button class ="btn"><a href="#"><i class="fa-solid fa-location-dot"></i></a></button></li>
        <li><button class ="btn"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></button></li>
        <li><button class ="btn"><a href="#"><i class="fa-solid fa-bookmark"></i></a></button></li>
      </ul>
    </div>

  </body>
</html>
