<!DOCTYPE html>
<html>
  <head>
<%= render "shared/navbar" %>
    <title>BookaBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/flashes" %>

    <div class="footer text-center">
      <ul>
        <li><a class="icon" href="#"><i class="fa-solid fa-house"></i></a></li>
        <li><a class="icon" href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
        <li><a class="icon" href="#"><i class="fa-solid fa-bookmark"></i></a></li>
        <li><a class="icon" href="#"><i class="fa-solid fa-location-dot"></i></a></li>
      </ul>
    </div>

  </body>
</html>
