<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/navbar" %>
    <title>BookaBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%= render "shared/flashes" %>

    <div class="footer text-center">
      <ul>
        <li><a class="icon" href="/books"><i class="fa-solid fa-bolt-lightning"></i></a></li>
        <li><a class="icon" href="/borrowing"><i class="fa-solid fa-book-open"></i></a></li>
        <li><a class="icon" href="/lending"><i class="fa-solid fa-share-from-square"></i></a></li>
      </ul>
    </div>

  </body>
</html>
